.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;


  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-block-end: 0.5rem;
    color: var(--text-secondary);
    border-radius: 0.375rem;
    transition: all 0.3s;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--text-primary);
    }
    
    &:active {
      transform: scale(0.9);
    }
    
    &.isActive {
      background-color: var(--secondary);
      color: var(--light);
      pointer-events: none;
    }
  }
}