.products {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  line-height: 1.2;
  overflow: hidden;

  article {
    padding-inline: 1rem;

    h3 {
      margin: 0;
      padding: 0;
      color: var(--text-secondary);
    }

    small {
      margin-block-end: auto;
    }
  }
}

.product > div {
  padding: 1rem;
}
