.info:hover > a,
.info > a:focus {
  opacity: 1;
  outline-color: var(--secondary);
}

.image {
  inline-size: 100%;
  padding-block: 0.4rem;
  display: block;
  block-size: 8rem;
  margin-block-end: 0.4rem;
  object-fit: contain;
  background-color: #e5e6e6;
}

.detailsButton {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 5rem;
  transform: translate(-50%, -50%);
  inline-size: fit-content;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.3rem;
  color: var(--text-secondary);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.3s linear;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bold;
  inline-size: 100%;
  padding: 0.5rem;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  color: var(--light);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  text-align: center;

  &:hover,
  &:focus {
    outline: 2px solid var(--secondary);
    outline-offset: 2px;
  }

  &:active {
    transform: scale(0.9);
  }

  svg {
    fill: currentColor;
  }
}

.codeRain {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 255, 0, 0) 0%,
    rgba(0, 255, 0, 0.2) 50%,
    rgba(0, 255, 0, 0) 100%
  );
  opacity: 0;
  transition: 0.3s;
}

.btn:hover .codeRain,
.btn:focus .codeRain {
  opacity: 1;
  animation: rain 1s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
