.products {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  padding: 1rem;
  background-color: var(--light);
  border: 1px solid;
  border-radius: 10px;
  line-height: 1.2;
  overflow: hidden;
  text-align: center;
  
  img {
    flex-grow: 1;
    display: block;
    block-size: 8rem;
    margin-block-end: 0.7rem;
    object-fit: contain;
  }
  
  span {
    color: var(--text-secondary);
    margin-block-end: 0.5rem;
  }

  small {
    font-size: 1rem;
    color: var(--text-secondary);
  }

  p {
    text-align: center;
  }
}

.product > div {
  margin-block-start: 0.5rem;
}

.btn {
  display: block;
  position: relative;
  font-weight: bold;
  inline-size: 100%;
  padding: 0.5rem;
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  color: var(--light);
  cursor: pointer;
  overflow: hidden;
  transition: transform 300ms;
  text-align: center;
  will-change: transform;

  &:hover,
  &:focus {
    outline: 2px solid var(--secondary);
    outline-offset: 2px;
    transform: scale(0.95);
  }
}

.code-rain {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 255, 0, 0) 0%,
    rgba(0, 255, 0, 0.2) 50%,
    rgba(0, 255, 0, 0) 100%
  );
  opacity: 0;
  transition: 0.3s;
}

.btn:hover .code-rain {
  opacity: 1;
  animation: rain 1s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
