.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bold;
  inline-size: 100%;
  padding: 0.5rem;
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  color: var(--light);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  text-align: center;

  &:hover,
  &:focus {
    outline: 2px solid var(--secondary);
    outline-offset: 2px;
  }
  
  &:active {
    transform: scale(0.95);
  }

  svg {
    fill: currentColor;
  }
}

.codeRain {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 255, 0, 0) 0%,
    rgba(0, 255, 0, 0.2) 50%,
    rgba(0, 255, 0, 0) 100%
  );
  opacity: 0;
  transition: 0.3s;
}

.btn:hover .codeRain,
.btn:focus .codeRain {
  opacity: 1;
  animation: rain 1s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}