footer {
  padding: 1rem;
  background-color: var(--light);

  div {
    display: flex;
    justify-content: space-between;
    margin-block-end: 0.4rem;

    &:first-of-type {
      span,
      small {
        font-size: 0.7rem;
        font-weight: 500;
      }

      small {
        color: var(--text-secondary);
      }
    }

    &:last-of-type {
      margin-block-end: 1rem;
      
      span {
        font-size: 0.8rem;
      }
      
      span,
      small {
        font-weight: bold;
        color: var(--text-secondary);
      }
    }
  }
}

.btn {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.3rem;
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  color: var(--light);
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;

  &:hover,
  &:focus {
    outline: 2px solid var(--secondary);
    outline-offset: 2px;
  }
  
  &:active {
    transform: scale(0.95);
  }
}
