.navbar a,
.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: relative;
  gap: 0.7rem;
  
  a {
    flex-direction: column;
    font-size: 0.75rem;
    outline: none;

    &:hover,
    &:focus {
      color: var(--secondary);
    }
    
    div {
      position: relative;
    }
  }
}

.icon {
  display: flex;
  position: relative;
  overflow: hidden;

  svg {
    transition: transform 500ms ease;

    &:first-of-type {
      position: absolute;
      transform: translateY(-40px);
      fill: var(--secondary);
    }
  }
}

.navbar a:hover svg:first-of-type,
.navbar a:focus svg:first-of-type {
  transform: translateY(0px);
}

.navbar a:hover svg:last-of-type,
.navbar a:focus svg:last-of-type {
  transform: translateY(100%);
}

.text {
  position: relative;
  font-weight: 500;
  overflow: hidden;

  span {
    display: block;
    position: relative;
    transition: transform 500ms ease;

    &::before {
      content: attr(data-text);
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      transform: translateY(30px);
    }
  }
}

.navbar a:hover .text span,
.navbar a:focus .text span {
  transform: translateY(-30px);
}

.products {
  justify-content: center;
  position: absolute;
  inset-inline-end: -0.3rem;
  inset-block-start: -0.4rem;
  padding: 0.1rem;
  inline-size: 0.5rem;
  block-size: 0.5rem;
  font-size: 0.5rem;
  background-color: var(--secondary);
  border-radius: 50%;
  color: var(--light);
  line-height: normal;
}
