.navigation,
.logo,
.navbar,
.navbar a {
  display: flex;
  align-items: center;
}

.navigation {
  justify-content: space-between;
  padding-inline: 0.5rem;
  background-color: var(--light);
}

.logo {
  position: relative;
  gap: 0.3rem;
  font-size: 1.5rem;
  color: var(--secondary);
  outline: none;

  &::after {
    content: "";
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    inline-size: 0;
    block-size: 2px;
    background-color: var(--secondary);
    transition: inline-size 0.1s linear;
  }

  &:hover::after,
  &:focus::after {
    inline-size: 100%;
  }

  svg {
    inline-size: 1.8rem;
    fill: var(--secondary);
  }

}

.logo i {
  inline-size: 1.8rem;
  block-size: 1.8rem;

  svg {
    inline-size: 1.8rem;
    fill: var(--secondary);
  }
}

.navbar {
  position: relative;
  justify-content: center;
  gap: 1rem;

  a {
    position: relative;
    flex-direction: column;
    font-size: 0.75rem;
    outline: none;

    &:hover,
    &:focus {
      color: var(--secondary);
    }
  }
}

.icon {
  display: flex;
  position: relative;
  overflow: hidden;

  svg {
    transition: transform 500ms ease;

    &:first-of-type {
      position: absolute;
      transform: translateY(-40px);
      fill: var(--secondary);
    }
  }
}

.navbar a:hover svg:first-of-type,
.navbar a:focus svg:first-of-type {
  transform: translateY(0px);
}

.navbar a:hover svg:last-of-type,
.navbar a:focus svg:last-of-type {
  transform: translateY(100%);
}

.text {
  position: relative;
  font-weight: 500;
  overflow: hidden;

  span {
    display: block;
    position: relative;
    transition: transform 500ms ease;

    &::before {
      content: attr(data-text);
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      transform: translateY(30px);
    }
  }
}

.navbar a:hover .text span,
.navbar a:focus .text span {
  transform: translateY(-30px);
}

.products {
  display: block;
  position: absolute;
  inset-inline-end: -0.3rem;
  inset-block-start: -0.5rem;
  padding: 0.1rem;
  inline-size: 0.7rem;
  block-size: 0.7rem;
  background-color: var(--secondary);
  border-radius: 50%;
  color: var(--light);
  text-align: center;
  line-height: 0.75rem;
  transform: translateY(0);
  border: 1px solid;
}
