.carrousel {
  position: relative;
  block-size: 10rem;
}

.item {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  padding: 1rem;
  opacity: 0;
  overflow: hidden;
  transition: opacity 2s ease-in-out;
  
  & * {
    color: var(--light);
    margin: 0;
    padding: 0;
  }
  
  h2 {
    margin-block-start: auto;
  }
  
  img {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    inset: 0;
    object-fit: cover;
    opacity: 0.95;
    transition: opacity 100ms ease-in-out;
    z-index: -1;
  }
}

.active {
  opacity: 1;
}