.content {
  position: relative;
  font-size: 0.9rem;
}

.container {
  padding: 0.7rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.reviews {
  display: grid;
  gap: 1rem;
}

.container > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more {
  font-weight: bold;
  color: var(--secondary);

  &:hover,
  &:focus {
    border-radius: 4px;
    outline: 2px solid var(--secondary);
    outline-offset: 2px;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.explore > * {
  margin: 0;
  padding: 0;
}

.explore > a {
  inline-size: 40%;
  margin-block: 1rem 1.5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  transition: transform 300ms linear;
  will-change: transform;

  &:hover,
  &:focus {
    outline: 2px solid var(--secondary);
    outline-offset: 2px;
    transform: scale(0.95);
  }

  span {
    font-weight: bold;
    color: var(--text-secondary);
    line-height: 1.2;
  }
}

.icon {
  inline-size: 1.5rem;
  block-size: 1.5rem;

  svg {
    inline-size: 1.5rem;
    fill: var(--secondary);
  }
}
