.favorites {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 1rem;
}

.favorite {
  position: relative;
}

.notFound {
  margin: 3rem auto;
  font-size: 1.5rem;
  font-weight: 500;
}
