:root {
  --light: #fff;
  --primary: #f6f7f8;
  --secondary: #166534;
  --text-primary: #6f7684;
  --text-secondary: #0f172a;
  --text-muted: #d1d5db;
  --color-hover: #dfe8e4;

  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: clamp(0.75rem, 0.75rem + 1.5vw, 1.5rem);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--text-primary);
}

h2 {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  inline-size: 1.3rem;
}

.chevron-icon {
  fill: none;
}

#root {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.prevPageButton {
  display: grid;
  place-content: center;
  outline-color: var(--secondary);

  &:hover > svg,
  &:focus > svg {
    stroke: var(--secondary);
  }
}


.pageTitle {
  font-size: 1.1rem;
  color: var(--secondary);
}

.nav-link-active {
  color: var(--secondary);
  fill: var(--secondary);
  pointer-events: none;

  i > svg:first-of-type {
    transform: translateY(0px);
  }

  i > svg:last-of-type {
    transform: translateY(100%);
  }

  div > span {
    transform: translateY(-31px);
  }
}

.icon {
  inline-size: 1.5rem;
  block-size: 1.5rem;
}

#root .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  inset-inline: 0;
  inset-block-end: 0;
  padding: 0.7rem;
  background-color: var(--light);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  #root .navigation {
    display: none;
  }
}
